.bookListContainer {
  height: 100%;
  max-width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 10px 0;
  overflow-y: scroll;
}


.bookListHeaderDiv {
  min-height: 70px;
  background-color: rgba(47, 79, 79, 0);
  min-width: 100%;
  margin: -10px 0 -15px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.2em;
  padding: 18px 0 0 0;
  letter-spacing: 1.2px;
}

.bookListHeaderDiv > h4 {
  color: #dfd8cf;
  font-weight: 300;
  font-family: 'Shrikhand', cursive;
}

.blH2Div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%;
  margin: 5px;
}

.blH2Div > h2 {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .8px;
  /* font-style: italic; */
  color: rgb(87, 87, 87);
  margin: -5px 20px;
}
.bookCardsWrapper {
  height: 100%;
  max-width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 10px 0;
  overflow-y: scroll;
}


.browseSubjDiv {
  background-color:#41a491;
  border-radius: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 -30px 0;
}