.bookListContainer {
  height: 100%;
  max-width: 100vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 10px 0;
  overflow-y: scroll;
}

.blH2Div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.blH2Div > h2 {
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  
}