.subjectCardsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel {
  background-color:#41a491;
  height: 40%;
}

.subjCardContainer {
  height: 150px;
  width: 150px;
  margin: 15px;
  background-color: rgba(255, 253, 248);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgDiv {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.imgDiv > img {
  height: 60px;
  width: 60px;
}

.subjH2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #0a0f34;
  padding: 2px;
  letter-spacing: 1px;
  margin: 0;
  font-size: .8em;
}