.profListContainer {
  height: 100%;
  margin: 10px 2px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* overflow-x: hidden; */
}

.profListContainer > h3 {
  font-weight: 500;
  font-size: 1.2em;
  color: #0a0f34;
}

.profListHeaderDiv {
  min-height: 70px;
  background-color: rgba(47, 79, 79, 0);
  min-width: 100%;
  margin: -10px 0 -15px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.2em;
  padding: 18px 0 0 0;
  letter-spacing: 1.2px;
}

.profListHeaderDiv > h4 {
  color: #dfd8cf;
  font-weight: 300;
  font-family: 'Shrikhand', cursive;
}

.blH2Div {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 100%;
  margin: 5px;
}

.blH2Div > h2 {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .8px;
  /* font-style: italic; */
  color: rgb(87, 87, 87);
  margin: -5px 20px;
}

.profCardsDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  width: 100%;

}