.detailsContainer {
  height: 100%;
  /* overflow-y: scroll; */
  max-width: 100%;
  overflow-x: hidden
}


.bookDeetsImgDiv {
  min-width: 100%;
  object-fit: cover;
  height: 23em;
  overflow: hidden;
}

.bookDeetsImgDiv > img {
  width: 100%;
  margin: -25px 0 0 0
}
.titleAuthorSpan {
  display: flex;
  flex-direction: column;
}

.authorStarRatingDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: -25px -10px 15px 15px;
  justify-content: space-between;
  padding: 6px;
}

.authorStarRatingDiv > p {
  font-size: .8em;
  
  letter-spacing: .9px;
}

.titleAuthorSpan > h1 {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  margin: 15px;
  
}

.titleAuthorSpan > p {
  font-size: .8em;
  margin: 15px;
}


.descriptionDiv {
  margin: -50px 15px 5px 15px;

}

.descriptionDiv > h4 {
  font-weight: 300;
  font-size: .9em;
  letter-spacing: .9px;
}

.descriptionDiv > p {
  font-size: .7em;
  letter-spacing: .7px;
  margin-top: -10px;
  line-height: 19px;
  /* margin: -5px 15px 15px 15px; */
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 5px 40px 5px;
  padding: 5px 0 30px 0;
}

.moreAuthorButton {
  width: 173px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 13px 0;
  margin: 0 3px;
  height: 45px;
  color: #e4e1dc;
  background-color: #3d405b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  box-shadow: 3px 4px 2px 0px #6d9196;
}

.moreAuthorButton:active {
  box-shadow: 1px 2px 2px 0px #6d9196;
  background-color: #4b4f71;
}

.removeButton {
  width: 170px;
  background-color: #e4e1dc;
  border-radius: 5px;
  padding: 0 10px;
  height: 45px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 3px 4px 2px 0px #51686b;
}

.removeButton:active {
  box-shadow: 1px 2px 2px 0px #51686b;
  background-color: #bab8b4;
}


.addButton {
  width: 173px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  border: none;
  padding: 13px 0;
  margin: 0 3px;
  height: 45px;
  color: #eeebe6;
  background-color: #729296;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

