.detailsContainer {
  height: 100%;
  overflow-y: scroll;

}


.bookDeetsImgDiv {
  min-width: 100%;
  object-fit: cover;
  height: 23em;
  overflow: hidden;
}

.bookDeetsImgDiv > img {
  width: 100%;
  margin: -15px 0 0 0
}
.titleAuthorSpan {
  display: flex;
  flex-direction: column;
}

.authorStarRatingDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: -25px -10px 15px 15px;
  justify-content: space-between;
  padding: 6px;
}

.authorStarRatingDiv > p {
  font-size: .8em;
  
  letter-spacing: .9px;
}

.titleAuthorSpan > h1 {
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 1.2px;
  margin: 15px;
  
}

.titleAuthorSpan > p {
  font-size: .8em;
  margin: 15px;
}


.descriptionDiv > h4 {
  font-weight: 300;
  font-size: .9em;
  letter-spacing: .9px;
  margin: 30px 15px;
}

.descriptionDiv > p {
  font-size: .85em;
  margin: -20px 15px 15px 15px;
}

