.bookCardContainer {
  display: flex;
  flex-direction: column;
  width: 10em;
  max-height: 19em;
  justify-content: center;
  align-items: center;
  margin: 8px 10px;
  /* background-color: rgba(240, 240, 240, 0.25); */
}

.bookCardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bookCoverDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.5em;
  height: 11em;
  overflow: hidden;
  object-fit: cover;
  margin: 13px 10px 0 10px;
  box-shadow: 1px 0 15px rgba(174, 173, 173, 0.139);
  border: .4px solid rgba(128, 128, 128, 0.145);
  border-radius: 5px;
}

.bookCoverDiv > img {
  width: 7.5em;
  height: 11em;
  
}
.link {
  text-decoration: none;
}

.textDiv > h4 {
  font-weight: 400;
  letter-spacing: .8px;
  font-size: .9em;
  text-align: center;
  color: darkslategrey;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px 2px -10px 3px;
  height: 4em;
  padding: 2px 3px;
  
}