.bookCardContainer {
  display: flex;
  flex-direction: column;
  width: 8em;
  max-height: 19em;
  justify-content: center;
  align-items: center;
  margin: 18px 10px;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  box-shadow: 1px 0 15px rgba(174, 173, 173, 0.195);
  /* border: 1px solid gray; */
}

.bookCardHeader {
  display: flex;
  flex-direction: column;
}

.bookCoverDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 280px; */
  width: 7em;
  height: 11em;
  overflow: hidden;
  object-fit: cover;
  margin: 13px 10px 0 10px;
  border-radius: 8px;
  box-shadow: 1px 0 15px rgba(174, 173, 173, 0.195);
}

.bookCoverDiv > img {
  width: 7em;
  height: 11em;
}
.link {
  text-decoration: none;
}

.textDiv > h4 {
  font-weight: 400;
  font-size: .7em;
  text-align: center;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px 0 -10px 0;
  height: 4em;
  padding: 2px;
  
}