.bookCardContainer {
  display: flex;
  flex-direction: column;
  width: 9em;
  max-height: 19em;
  justify-content: center;
  align-items: center;
  margin: 18px 20px;
  padding: 3px 5px 4px 5px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  box-shadow: 1px 0 15px rgba(174, 173, 173, 0.195);
  border: .4px solid rgba(128, 128, 128, 0.37);
}

.bookCardHeader {
  display: flex;
  flex-direction: column;
}

.bookCoverDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 280px; */
  width: 8em;
  height: 13em;
  overflow: hidden;
  object-fit: cover;
  margin: 13px 10px 0 10px;
  border-radius: 8px;
  box-shadow: 1px 0 15px rgba(174, 173, 173, 0.195);
  border: .4px solid rgba(128, 128, 128, 0.145);
}

.bookCoverDiv > img {
  width: 8em;
  height: 13em;
}
.link {
  text-decoration: none;
}

.textDiv > h4 {
  font-weight: 500;
  letter-spacing: .8px;
  font-size: .9em;
  /* text-align: center; */
  color: darkslategrey;
}

.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -5px 2px -10px 3px;
  height: 4em;
  padding: 2px 3px;
  
}