.profileLink {
  text-decoration: none !important;
  /* width: 40%; */
}


.profCardContainer {
  width: 130px;
  display: flex;
  box-shadow: 2px 3px 4px #cfcecc;
  border-radius: 7px;
  padding: 20px 10px;
  justify-content: center;
  height: 9.6em;
  align-items: center;
  margin: 20px 15px;
  border: .5px solid rgba(232, 228, 228, 0.606);
}


.profCardContainer:active {
  background-color: rgba(221, 220, 218, 0.846);
  box-shadow: 2px 2px 5px #b2b1af;
}

.imgDiv {
  height: 75px;
  width: 75px;
  border: 1px solid rgba(209, 209, 209, 0.775);
  display: flex;
  object-fit: contain;
  overflow: hidden;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}


.imgDiv:first-child {
  height: 5rem;
  width: 5rem;
  margin-bottom: 10px;
}

.profTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 5px;
  padding: 15px 5px;
  width: 100%;
  align-items: center;
}

.profNameH2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #0a0f34;
  padding: 2px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 1em;
  text-decoration: none;
}

.picNameSpan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}


/* .colorBlock {
  height: 95px;
  background-color: yellow;
  width: 100%;

  top: 0;
  z-index: -1;
} */